<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{titulo}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!--  Carta -->
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>Nombre alumno</ion-card-title>
      <ion-card-subtitle>Fecha o Asignatura</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> texto </ion-card-content>
  </ion-card>


  <!-- boton -->
  <div>
    <ion-button color="warning" expand="block">CONFIRMAR</ion-button>
    <ion-button color="danger" expand="block">CANCELAR</ion-button>
  </div>
</ion-content>
